<div class="col-xs-12 col-md-6 col-md-offset-3 margin_tp">
    <h1> Add New Todo</h1>
    <form class="margin_tp">
        <div class="form-group">
            <label for="post-name">Name</label>
            <input type="text" class="form-control" id="post-name" ng-model="todo.name" ng-change="errorMessage=''">
        </div>
          <div class="form-group">
            <label for="post-description">Description</label>
            <textarea  class="form-control" id="post-description" rows="5" ng-model="todo.description" ng-change="errorMessage=''"></textarea>
        </div>

        <div class="form-group ">
            <label for="post-description">Due Date</label>
            <input class="form-control" type="date" name="bday" ng-model="todo.duedate" ng-change="errorMessage=''">
        </div>
        <div><span  class='alert-danger' ng-if="errorMessage">{{errorMessage}}</span></div>
        <button type="submit"  class="btn btn-primary" ng-click=addtodo()>Save</button>
        <button type="submit"  class="btn btn-primary" ng-click=home()>Back</button>
    </form>
</div>