<div class="col-xs-12">
    <div class="col-xs-12">
        <h1>Todo List</h1>
          <div class="margin_bt">
          <span class="btn btn-primary btn-circle" title="add new todo" data-dismiss="modal" aria-hidden="true" ng-click="newTodo()"><span class="glyphicon glyphicon-plus"></span></span>
          </div>    
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div ng-repeat="(listName, list) in models.lists" class="col-md-12">
                            <div ng-include="'dashboard/list.html'"></div>
                    </div>
                </div>
                <div view-source="simple"></div>
            </div>
         <div class="col-md-12 margin_bt" ng-if='todoListData.length>1'>
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="updateSequence()">Update Sequence</button>
         </div>
        </div>
    </div>
</div>
