<!-- The dnd-list directive allows to drop elements into it.
     The dropped data will be added to the referenced list -->
<ul class="todoul" dnd-list="list">
    <!-- The dnd-draggable directive makes an element draggable and will
         transfer the object that was assigned to it. If an element was
         dragged away, you have to remove it from the original list
         yourself using the dnd-moved attribute -->
   
   <li class="col-xs-12 padding_0 todoli" ng-repeat="item in list"
        dnd-draggable="item"
        dnd-moved="list.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = item"
        ng-class="{'selected': models.selected === item}"
        >
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse_{{$index}}" data-target="#list{{$index}}">
            <span>  
               <input type="text" title='click here to edit name.' ng-model="item.name" placeholder="Enter Name" class="input-sm no-border input_bg" ng-blur="todoDataChange('1',item._id)"  ng-keypress="todoDataChange($event,item._id)" style="border: hidden;box-shadow: none;">
               <input type="text" title='click here to edit description.' ng-model="item.description" placeholder="Enter Description" class="input-sm input_bg" ng-blur="todoDataChange('1',item._id)"  ng-keypress="todoDataChange($event,item._id)" style="border: hidden;box-shadow: none;">
            {{item.duedate | date : 'medium'}}   </span>
            <span class=" pull-right">
              <a href="" ng-click='deleteItem(item._id,$index)'> REMOVE </a>
            </span>
          </div>
        </div>
    </li>
</ul>
