<div id="loginModal" class="modal show" tabindex="-1"  aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-left fwh1">Sign in</h1>
            </div>
            <div class="modal-body">
                <form class="form text-center" name="login" novalidate>
                    <div class="form-group padding_bt">
                        <input type="text" class="form-control " name="Username" placeholder="Email" ng-model="loginDetails.username" ng-change="errorMessage = ''" required>
                    </div>
                    <div class="error" ng-messages="login.Username.$error" ng-if="login.$submitted || login.Username.$dirty">
                        <div class='alert alert-danger' ng-message="required">Username is required</div>
                    </div>
                    <div class="form-group padding_bt">
                        <input type="password" name="password" class="form-control  btn_w" placeholder="Password" ng-model="loginDetails.password" ng-change="errorMessage = ''" required>
                    </div>
                    <div class="error" ng-messages="login.password.$error" ng-if="login.$submitted || login.password.$dirty">
                        <div class='alert alert-danger' ng-message="required">Password is required</div>
                    </div>
                    <div class="form-group">
                        <div class='alert alert-danger' ng-if="errorMessage">{{errorMessage}}</div>
                    </div>
                    <div class="margin">
                        <button class="form-control btn btn-primary btn-block" type="submit" ng-click="submitLoginDetails()">Sign In</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
